* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Encabezado */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0437c4;
    padding: 1rem;
    color: white;
    position: sticky;
    top: 0;
    z-index: 999; /* Por encima de otros elementos */
}
header a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.logo h1 {
    font-size: 1.5rem;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 1rem;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.nav-links a:hover {
    color: #fff;
    text-shadow: 0 0 5px #fff;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    position: absolute; /* Posicionamiento absoluto respecto al header */
    top: 1rem;
    right: 1rem;
    z-index: 1000; /* Asegura que el botón esté sobre el contenido */
}

.menu-toggle div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        background-color: #0437c4;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin: 1rem 0;
        text-align: center;
    }

    .menu-toggle {
        display: flex;
    }
}

/* Pie de Página */
footer {
    text-align: center;
    padding: 1rem;
    background-color: #0437c4;
    color: white;
}

.social-links{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    text-align: center;
}

.social-links img{
    width: 40px; height:40px;
}