* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fuentes y colores */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

/* Hero Section */
.hero {
    background: url('https://s1.elespanol.com/2015/03/27/actualidad/actualidad_21258212_128819671_1706x960.jpg') no-repeat center center/cover;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.hero .content {
    background: rgba(0, 0, 0, 0.5);
    padding: 2rem;
    border-radius: 10px;
}

.hero h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

/* Botón de GitHub */
#github-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: #24292e;
    text-decoration: none;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    margin-top: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#github-button img {
    margin-right: 0.5rem;
}

#github-button:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(255, 255, 255, 0.616);
}

/* Sobre Nosotros */
.about {
    padding: 2rem;
    background-color: #fff;
    text-align: center;
}

.about h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

/* Sección de Algoritmos */
.algorithms {
    padding: 2rem;
    background-color: #f4f4f4;
    text-align: center;
}

.algorithms h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.algorithm-cards {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.card-link {
    text-decoration: none;
}

.card {
    background-color: #fff;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.card h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.card li {
    list-style: none;
    margin-bottom: 0.5rem;
}

/* .card p {
    height: 1rem;
} */

#searchInput {
    width: 50%;
    padding: 1lh;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}