body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}
main{
    margin: 1%;
}
svg{
    background-color: #f5f1f1;
    margin-top: 10px;
    border: #333 1px dotted;
}
main h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
    color: #000000;
    text-align: center;
}
.animation button{
    background-color: white;
    color: black;
    padding: 2px;
}
button:hover{
    background-color: black;
    color: white;
}
#description{
    font-size: 1.2em;
    text-align: center;
    background-color: blueviolet;
    color: white;
    padding: 1px;
    margin-top: 2px;
}
