main{
    margin: 1%;
}
svg{
    background-color: #f5f1f1;
}
main h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
    color: #000000;
    text-align: center;
}
button{
    background-color: white;
    color: black;
}
button:hover{
    background-color: black;
    color: white;
}
